[submodule "nolimit-frontend"]
	path = nolimit-frontend
	url = https://github.com/UTH-BrotherHood/NOLIMIT
[submodule "nolimit-backend"]
	path = nolimit-backend
	url = https://github.com/UTH-BrotherHood/NOLIMIT-Server
